body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
    background-color: #292c3d;
    padding: 10px;
    position: fixed; /* Umožní fixaci navigace nahoře */
    top: 0; /* Udrží navigaci nahoře */
    width: 100%; /* Zajistí, že navigace pokryje celou šířku okna */
    z-index: 1000; /* Zajistí, že navigace bude nad ostatními prvky */
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
    padding: 0;
    position: fixed;
    background-color: #292c3d;
    border-radius: 5px;
    z-index: 5;
  }
  
  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    color: #fffbfb;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Crimson Pro", serif; /* font styl */
  }
  
  nav ul li a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: color 0.5s;
  }
  
  nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #778DA9;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: bottom right;
  }
  
  nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  nav ul li a:hover {
    color: #778DA9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 
                4px 4px 8px rgba(0, 0, 0, 0.2), 
                6px 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Specifické styly pro odkaz "Rezervace" */
  nav ul li a.rezervace {
    color: white !important;
  }
  
  nav ul li a.rezervace::after {
    content: none !important;
  }
  
  .rezervace {
    background-color: #a53860;
    border-radius: 15px;
  }
  
  .rezervace:hover {
    background-color: #8f004f;
  }
  
  /* Logo */
  .logo {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 0;
  }
  
  /* Hamburger icon */
  #hamburger-icon {
    display: none;
   
  }

  /* nas tym */


  .container {
    max-width: 1000px;
    margin: 200px auto;
    padding: 20px;
    background-color: #E0E1DD;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}
.team-member img {
  width: 150px; /* Pevná šířka obrázku */
  height: 150px; /* Pevná výška obrázku, aby byl čtvercový */
  object-fit: cover; /* Zajistí, že obrázek vyplní prostor bez zkreslení */
  border-radius: 50%; /* Kulatý tvar obrázku */
  margin-bottom: 10px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Jemný stín pro lepší vzhled */
}


.team-member .info {
    max-width: 70%;
}

.team-member h3 {
    margin: 0 0 10px;
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

.team-member p {
    margin: 5px 0;
    color: #666;
 font-style: italic;
    font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}


.team-member img.thumbnail {
  border-radius: 0; /* Přepíše zaoblení jen pro miniaturu certifikátu */
}










/* Footer */
footer {
  background-color: #292c3d;
  color: white;
  font-family: sans-serif;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between; /* Zarovnání prvků vedle sebe */
  align-items: center; /* Vertikální zarovnání */
  flex-wrap: wrap; /* Zajištění, aby se prvky nepřetáhly mimo obrazovku */
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Zarovnání prvků vedle sebe */
  align-items: center;
  width: 100%;
}

.contact-info, .icons, .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-item, .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.icon:hover {
  filter: brightness(1.5);
  transform: scale(1.2);
  cursor: pointer;
}

.footerText {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}



.modal {
  display: none; /* Skryto ve výchozím stavu */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Tmavší pozadí */
  justify-content: center;
  align-items: center; /* Vycentrování obrázku vertikálně i horizontálně */
  display: flex;
}

.modal-content {
  max-width: 90%;  /* Šířka maximálně 90% obrazovky */
  max-height: 90%; /* Výška maximálně 90% obrazovky */
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001; /* Nad obrázkem */
}

.thumbnail {
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail:hover {
  opacity: 0.7;
}











@media only screen and (max-width: 880px) {
  main{
   overflow-x: hidden;
  }
 
 
   /* Navigace */
   nav {
     justify-content: space-between; /* Upraví zarovnání pro mobilní zařízení */
     padding: 10px; /* Přidá padding, aby bylo více místa pro obsah */
     max-width: 100%;
   }
 
   /* Skrytí menu na mobilu */
   nav ul {
     flex-direction: column;
     position: absolute;
     top: 80px;
     right: 0;
     
     background-color: #292c3d;
     width: 30%; /* Menu pokrývá celou šířku obrazovky */
     display: none; /* Skryté menu na mobilních zařízeních */
     padding: 10px;
     border-radius: 5px;
   }
 
   /* Zobrazení menu při aktivaci */ 
   nav ul.show {
     display: flex;
   }
 
   nav ul li {
     margin: 10px 0;
     text-align: center;
   }
 
   nav ul li a {
     padding: 10px;
     width: 100%; /* Šířka odkazu pokrývá celou šířku menu */
     margin: 2px auto;
   }
 
   /* Hamburger ikona - zobrazí se na mobilu */
   #hamburger-icon {
     display: block;
     width: 60px;
     height: 60px;
     cursor: pointer;
     position: absolute;
     right: 50px;
     z-index: 2;
    ;
   }
 
   /* Logo - menší velikost pro mobilní zařízení */
   .logo {
     width: 40vh;
     height: auto;
     position: relative;
     margin-left: -50px    ; /* Upraví zarovnání loga na mobilu */
   }

   /* footer */
    /* Footer na mobilu */
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .contact-info, .icons, .address {
    align-items: center;
    text-align: center;
  }

  .contact-item, .address {
    flex-direction: column;
    gap: 5px;
  }

  .footerText {
    font-size: 14px;
  }
  }